<p id="notice"><%= notice %></p>

<p>
  <b>Book:</b>
  <%= @favorite.book %>
</p>

<p>
  <b>User:</b>
  <%= @favorite.user %>
</p>


<%= link_to 'Edit', edit_favorite_path(@favorite) %> |
<%= link_to 'Back', favorites_path %>
