<%= form_for @user, :url => { :action => 'create' } do |f| %>
  <div class="field">
    <%= f.label :username, 'ユーザ名' %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email, 'メールアドレス：' %><br />
    <%= f.email_field :email %>
  </div>
  <%= field_set_tag '著者情報' do %>
    <%= fields_for @user.author do |af| %>
      <div class="field">
        <%= af.label :name, '著者名：' %><br />
        <%= af.text_field :name %>
      </div>
      <div class="field">
        <%= af.label :birth, '誕生日：' %><br />
        <%= af.date_select :birth, :use_month_numbers => true %>
      </div>
    <% end %>
  <% end %>
  <%= f.submit '登録' %>
<% end %>
