<%= form_for(@book) do |f| %>
  <div class="field">
    <%= f.label :isbn %><br />
    <%= f.text_field :isbn, { :size => 25 } %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, { :size => 25 } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
  メール入力ボックス：
  <%= f.email_field :isbn, { :size => 10, :maxlength => 15 } %></br>


<% end %>
