<table  width="100%">
	<tr>
		<td>
			<%= link_to_unless_current('Books', books_path) %> | 
			<%= link_to_unless_current('Reviews', reviews_path) %> | 
			<%= link_to_unless_current('Authors', authors_path) %> | 
			<%= link_to_unless_current('Users', users_path) %> | 
			<%= link_to_unless_current('Fun_comments', fun_comments_path) %>
		</td>
		<td align="right">
			<% if session[:usr] %>
				<%= @usr.username %>
				<%= link_to('ログアウト', { :controller => 'login', :action => 'logout' }) %>
			<% else %>
				<!-- <%= link_to('ログイン', { :controller => 'login', :action => 'index' }) %> -->
				<%= link_to_unless_current('ログイン', { :controller => 'login', :action => 'index' }) %>
			<% end %>
		</td>
	</tr>
</table>
